input{
    border: none;
    border-radius: .15vw;
    outline: none;
    background-color: --var(--white);
    font: var(--base-font);
    width: 15vw;
    height: 2vw;
    font-size: 1vw;
    display: block;
    padding: .08rem;
}