.list{
    width: clamp(18rem, 30vw, 80rem);
    min-height: 100%;
}

.none{
    text-decoration: none;
}

.titleHeader{
    height: fit-content;
    background-color: var(--royal-blue);
    padding: 1vw 0 1vw 1vw; 
    border-radius: .25vw .25vw 0 0;
    cursor: pointer;
}

.titleHeader h3{
    font-family: var(--base-font);
    color: var(--white);
    font-size: clamp(2rem ,2vw, 6rem);
    margin: 0;
}

.titleHeader h3:hover{
    color: var(--light-gray);
}

.contentBox{
    background-color: var(--light-gray);
    height: 50%;
    min-height: 5vw;
    padding: .5vw;
}

.contentBox span{
    font-size: clamp(1.5rem ,1.5vw, 5rem);
}

.likesBox{
    display: flex;
    justify-content:end;
    align-items: center;
    background-color: var(--royal-blue);
    border-radius: 0 0 .25vw .25vw;
    padding: .5vw 1vw .5vw 0;
    align-items: center;
    height: fit-content;
    color: var(--white);
    gap: .5vw;
}

.likesBox h4{
    height: fit-content;
    margin: 0;
    padding: 0;
    font-size: clamp(1rem ,1vw, 5rem);
    background-color: transparent;
}

.likesBox button{
    padding-top: .25rem;
    width: 4%;
    margin: 0;
    height: fit-content;
}

.heart{
    height: auto;
    width: 100%;
    display: block;
}

.fullHeart{
    height: auto;
    width: 100%;
    display: block;
    color: var(--red);
}