.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--light-gray);
    margin: 0;
    width: 100%;
    height: fit-content;
    padding: 0;
}

.item{
    list-style: none;
    width: fit-content;
    font-size: clamp(.5rem, 2vw, 5rem);
}

.item input, .item button{
    font-size: clamp(.35rem, 1vw, 5rem);
}