.link{
    text-decoration: none;
    color: var(--dark-gray);
    font-family: var(--base-font);
    display: block;
    width: fit-content;
    height: fit-content;

}

.link:hover{
    transform: scale(1.1);  
}