.footer{
    position:relative;
    background-color: var(--light-gray);
    height: 5vw;
    width: auto;
    margin-top: 1vw;
    padding: 1vw 0;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-size: 1vw;
}

.socials{
    width: 2vw;
    padding: 0 .3vw;
    height: auto;
}

.socials:hover{
    transform: scale(1.1);
}